<%= form_with(model: cause) do |form| %>
  <% if cause.errors.any? %>
    <div id="error_explanation">
      <ul class="list-unstyled">
        <% cause.errors.each do |error| %>
          <li>
            <div class="alert alert-danger" role="alert">
              <%= error.full_message %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :theme %>
    <%= form.text_field :theme, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.text_area :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :funds_needed_usd %>
    <%= form.number_field :funds_needed, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>
