<h1>Causes</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Theme</th>
      <th>Created at</th>
      <th>Status</th>
      <th>Funds needed</th>
      <th>Funds raised</th>
      <th>Commitments count</th>
      <th>Owner</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @causes.each do |cause| %>
      <tr>
        <td><%= cause.image %></td>
        <td><%= cause.theme %></td>
        <td><%= cause.created_at %></td>
        <td><%= cause.status %></td>
        <td><%= cause.funds_needed %></td>
        <td><%= cause.funds_raised %></td>
        <td><%= cause.commitments_count %></td>
        <td><%= cause.owner_id %></td>
        <td><%= cause.description %></td>
        <td><%= link_to 'Show', cause %></td>
        <td><%= link_to 'Edit', edit_cause_path(cause) %></td>
        <td><%= link_to 'Destroy', cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cause', new_cause_path %>
