<%= form_with(model: commitment) do |form| %>
  <% if commitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commitment.errors.count, "error") %> prohibited this commitment from being saved:</h2>

      <ul>
        <% commitment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :target %>
    <%= form.text_field :target %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :donation_size %>
    <%= form.number_field :donation_size %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :causes_id %>
    <%= form.text_field :causes_id %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
