<%= form_with(model: commitment) do |form| %>
  <% if commitment.errors.any? %>
    <div id="error_explanation">
      <ul class="list-unstyled">
        <% commitment.errors.each do |error| %>
          <li>
            <div class="alert alert-danger" role="alert">
              <%= error.full_message %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :target %>
    <%= form.text_field :target, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :donation_size %>
    <%= form.text_area :donation_size, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>

